<main>
    <div class="container owncontainer">
        <div class="getintouch pb-5">
            <h2>Get In Touch</h2>
            <span>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor culpa
                veritatis inventore, aut commodi eum veniam vel.
            </span>
        </div>
        <div class="row cards">
            <div class="contentcard col-lg-4 col-md-12 ">
                <div class="mycard">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5>102 Street 2714 Donovan</h5>
                    <p>Lorem ipsum dolar site amet discont</p>
                </div>
            </div>
            <div class="contentcard col-lg-4 col-md-12 ">
                <div class="mycard">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5>102 Street 2714 Donovan</h5>
                    <p>Lorem ipsum dolar site amet discont</p>
                </div>
            </div>
            <div class="contentcard col-lg-4 col-md-12 ">
                <div class="mycard">
                    <i class="fas fa-map-marker-alt"></i>
                    <h5>102 Street 2714 Donovan</h5>
                    <p>Lorem ipsum dolar site amet discont</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container infodetails">
        <div class="infocontent">
            <h1>Send Us</h1>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita quaerat unde quam dolor culpa
                veritatis inventore, aut commodi eum veniam vel.
            </p>
            <div class="contactdetails">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group myform">
                            <label>Your name *</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group myform">
                            <label>Your email *</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group myform">
                            <label>Subject</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group myform text">
                            <label>Your message</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <button type="button" class="btn btn-primary mt-3">Send Message</button>
                    </div>

                </div>
            </div>
        </div>

    </div>

</main>

