<main>
    <div class="aboutofbacola">
        <img src="~/assets/img/about-header.jpg" alt="">
        <h2>
            About for Bacola
        </h2>
        <p>WE CAN DO MORE FOR YOU</p>
    </div>
    <div class="container aboutcontent mt-5">
        <p>
            In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec augue
            diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus
            rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus. Vestibulum sit amet
            sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam, pretium facilisis nisl.
            Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
        </p>
        <div class="abouttext">
            <h2>
                Quisque erat urna, congue et libero in <br>
                eleifend euismod velit.
            </h2>
            <p class="mt-5">
                In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo
                iaculis. Donec
                augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus
                id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus. Vestibulum sit
                amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam, pretium facilisis nisl.
                Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
            </p>
        </div>
        <div class="row about">
            <div class="col-6 about-people">
                <img src="~/assets/img/about-people.jpg" alt="">
            </div>
            <div class="col-6 about-people-text">
                <p class="pb-5">Rachel Leonard - Bacola CEO</p>
                <h3 class="pb-5">
                    Duis convallis luctus pretium. Pellentesque habitant morbi
                </h3>
                <p class="mb-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut
                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                    maecenas accumsan lacus vel facilisis.
                </p>
                <p>
                    In fermentum mi ut sapien semper, a sagittis lorem vulputate. Integer gravida, dui eget aliquet
                    tempus, turpis orci vehicula ipsum, eget porttitor sapien tortor at neque. Cras id pulvinar
                    lacus, ac volutpat neque. Ut at magna id justo bibendum lobortis. Integer tortor nulla,
                    ultricies et nisi sit amet, interdum dictum felis. In semper laoreet dui vitae pharetra. Etiam
                    sit amet molestie nulla, eu efficitur orci. Praesent rutrum ante justo, eget malesuada ante
                    ornare ac. Ut dignissim blandit urna, eget euismod leo rhoncus nec. Vestibulum ante ipsum primis
                    in faucibus orci luctus et ultrices posuere cubilia curae; Quisque lobortis libero ante. Nullam
                    in feugiat erat. Aenean sed justo dapibus, sodales nisi ut, fringilla lorem. Vestibulum in orci
                    ac nisl condimentum fermentum at et sem. Curabitur fermentum dolor eu lacus consectetur varius.
                </p>
                <div class="z-indexcontent">
                    In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec
                    augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a
                    lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus.
                    Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam,
                    pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.
                </div>

            </div>
        </div>
        <p>
            In nec purus eget neque accumsan finibus. Duis condimentum elit ut libero commodo iaculis. Donec augue diam, tristique et ultricies nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum metus in dapibus. Vestibulum sit amet sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor quam, pretium facilisis nisl. Pellentesque efficitur elit ante, vel vulputate tortor blandit nec.

            $20 discount for your first order
            Join our newsletter and get...
            Join our email subscription now to get updates on promotions and coupons.

            Your email address
        </p>
    </div>
</main>