<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="~/assets/css/flipclock.css" />

    <link rel="stylesheet" href="~/assets/css/HOME/home2.css">
    <link rel="stylesheet" href="~/assets/css/HOME/home.css">
    <link rel="stylesheet" href="~/assets/css/About/about.css">
    <link rel="stylesheet" href="~/assets/css/Blog/blog.css">
    <link rel="stylesheet" href="~/assets/css/CARD/card.css">
    <link rel="stylesheet" href="~/assets/css/Contact/contact.css">
    <link rel="stylesheet" href="~/assets/css/Account/account.css">
    <link rel="stylesheet" href="~/assets/css/ProductDetail/productdetail.css">
    <link rel="stylesheet" href="~/assets/css/Shop/shop.css">
    <link rel="Shortcut Icon" href="https://klbtheme.com/bacola/wp-content/uploads/2021/08/favicon.png"
          type="image/x-icon">
    <link rel="Shortcut Icon" href="https://klbtheme.com/bacola/wp-content/uploads/2021/08/favicon.png"
          type="image/x-icon">
    <title>Bacola</title>
</head>

<body>
    <header>
        <div class="covid19">
            <div class="container">
                Due to the <strong>COVID 19</strong> epidemic, orders may be processed with a slight delay
            </div>
        </div>
        <div class="container menu-secure-help-languages">
            <div class="row">
                <div class="col-4 menu">
                    <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">My Account</a></li>
                        <li><a href="">Wishlist</a></li>
                        <li><a href="">Order Tracking</a></li>

                    </ul>
                </div>
                <div class="col-8 secure help languages ">
                    <div class="secure">
                        <i class="fas fa-shield-alt mx-1"></i>
                        <span>
                            100% Secure delivery without contacting the courier
                        </span>
                    </div>
                    <div class="help px-2">
                        <span>Need help? Call us <a href=""> + 0020 500</a></span>
                    </div>
                    <div class="languages moneies">
                        <div class="language">
                            <span>English</span>
                            <i class="fas fa-caret-down"></i>
                            <ul class="selectlanguage">
                                <li>English</li>
                                <li>Spanish</li>
                                <li>German</li>
                            </ul>
                        </div>
                        <div class="money">
                            <span>USD</span>
                            <i class="fas fa-caret-down"></i>
                            <ul class="selectmoney">
                                <li>USD</li>
                                <li>INR</li>
                                <li>GBP</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <section id="logo-location-search-basket" class="">
            <div class="container">
                <div class="row">
                    <div class="col-2 logo">
                        <div class="logo">
                            <img src="~/assets/img/bacola-logo.png" alt="">
                            <span>Online Grocery Shoping Center</span>
                        </div>
                    </div>
                    <div class="col-2 location">
                        <div class="sellectlocation">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn  locationbutton" data-toggle="modal"
                                    data-target="#exampleModalLong">
                                Sellect a Location<i class="fas fa-angle-down"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                <div class="modal-dialog" role="document">

                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 style="width: 100%;">Choose your Delivery Location</h4>
                                        </div>
                                        <div class="modal-header">
                                            <span>Enter your address and we will specify the offer for your area.</span>
                                        </div>
                                        <div class="modal-body" style="overflow-y: scroll; height: 70vh;">
                                            <input type="text" id="myInput" onkeyup="myFunction()"
                                                   placeholder="Search for names.." title="Type in a name">
                                            <ul id="myUL">
                                                <li><a href="#">Adele</a></li>
                                                <li><a href="#">Agnes</a></li>
                                                <li><a href="#">Billy</a></li>
                                                <li><a href="#">Bob</a></li>
                                                <li><a href="#">Calvin</a></li>
                                                <li><a href="#">Christina</a></li>
                                                <li><a href="#">Cindy</a></li>
                                                <li><a href="#">Adele</a></li>
                                                <li><a href="#">Agnes</a></li>
                                                <li><a href="#">Billy</a></li>
                                                <li><a href="#">Bob</a></li>
                                                <li><a href="#">Calvin</a></li>
                                                <li><a href="#">Christina</a></li>
                                                <li><a href="#">Cindy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 search">
                        <div class="searchbox">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control input-text" placeholder="Search products...." aria-label="Recipient's username" aria-describedby="basic-addon2">
                                <div class="input-group-append"> <button class="btn  btn-lg" type="button"><i class="fa fa-search"></i></button> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 basket">
                        <div class="account">
                            <i class="fas fa-user-alt"></i>
                        </div>
                        <div class="price">
                            <span>$0.00</span>
                        </div>
                        <div class="basketproducts">
                            <i class="fas fa-shopping-basket"></i>
                            <span>0</span>

                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section id="allcatagories-navmenu" class="mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-3 ">
                        <div class="allcatagories">
                            <button> <i class="fas fa-bars"></i> All Catagories <i class="fas fa-angle-down"></i></button>
                            <div class="total">Total 63 Products</div>

                        </div>
                        <div class="selectcatagori">
                            <ul>
                                <li>
                                    <img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/000000/external-fruit-tropical-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" /> Fruits & Vegetables <i class="fas fa-chevron-down"></i>
                                </li>
                                <li><img src="https://img.icons8.com/ios-filled/50/000000/no-meat.png" />Meats & SeaFood</li>
                                <li><img src="https://img.icons8.com/external-vitaliy-gorbachev-lineal-vitaly-gorbachev/60/000000/external-breakfast-mother-day-vitaliy-gorbachev-lineal-vitaly-gorbachev.png" />Breakfast & Dairy</li>
                                <li><img src="https://img.icons8.com/ios/50/000000/alcoholic-beverage-licensing.png" />Beverages</li>
                                <li><img src="https://img.icons8.com/ios/50/000000/bread.png" />Breads & Bakery <i class="fas fa-chevron-down"></i></li>
                                <li><img src="https://img.icons8.com/material-rounded/24/000000/winter.png" />Frozen Foods</li>
                                <li><img src="https://img.icons8.com/windows/32/000000/--biscuits.png" />Biscuits & Snacks</li>
                                <li><img src="https://img.icons8.com/external-wanicon-lineal-wanicon/64/000000/external-grocery-food-delivery-wanicon-lineal-wanicon.png" />Grocery & Staples</li>
                                <hr>
                                <li>Value of the Day</li>
                                <li>Top 100 Offers</li>
                                <li>New Arrivals</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="navmenu">
                            <ul>
                                <li>HOME <i class="fas fa-chevron-down"></i></li>
                                <li>SHOP <i class="fas fa-chevron-down"></i></li>
                                <li>MEATS & SEA FOOD <i class="fas fa-drumstick-bite"></i></li>
                                <li>BAKERY <i class="fas fa-cookie"></i></li>
                                <li>BEVERAGES <i class="fas fa-mug-hot"></i></li>
                                <li>BLOG</li>
                                <li>CONTACT</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>
        <div class="fruitslist" style="position: absolute; z-index: 100;">
            <ul>
                <li>ExoticFruits</li>
                <li>Fresh Fruits</li>
                <li>Fresh Vegetables</li>
                <li>Herbs</li>
                <li>Party Try</li>
            </ul>
        </div>
        <div class="homelist">
            <ul>
                <li>HOME1</li>
                <li>HOME2</li>
                <li>HOME3</li>
                <li>HOME4</li>
            </ul>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="main">
            <div class="container owncontainer">
                <div class="row">
                    <div class="col-5 joinus">
                        <div class="content">
                            <p>$20 discount for your first order</p>
                            <h4>Join our newsletter and get...</h4>
                            <span>Join our email subscription now to get updates on promotions and coupons.</span>
                            <div class="mail">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fas fa-search" id=""></span>
                                    </div>
                                    <input type="text" class="form-control" placeholder="your email adrress">
                                    <input type="button" value="Subscribe">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-7 img">
                        <img src="~/assets/img/coupon.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="container owncontainer">
            <div class="row">
                <div class="col-3">
                    <span>Everyday fresh products</span>
                </div>
                <div class="col-3">
                    <span>Free delivery for order over $70</span>
                </div>
                <div class="col-3"><span>Daily Mega Discounts</span></div>
                <div class="col-3"><span>Best price on the market</span></div>
            </div>
        </div>
        <div class="info mb-5">
            <div class="container owncontainer">
                <div class="row mylist">
                    <div class="col-12 col-lg-2 mx-3">
                        <div class="mylistelements">
                            <h4>FRUIT &amp; VEGETABLES</h4>
                            <div class="">
                                <ul>
                                    <li>
                                        <a href="#">FreshVegetables</a>
                                    </li>
                                    <li>
                                        <a href="#">Herbs&amp; Seasonings</a>
                                    </li>
                                    <li>
                                        <a href="#">FreshFruits</a>
                                    </li>
                                    <li>
                                        <a href="#">Cuts&amp; Sprouts</a>
                                    </li>
                                    <li>
                                        <a href="#">ExoticFruits & Veggies</a>
                                    </li>
                                    <li>
                                        <a href="#">PackagedProduce</a>
                                    </li>
                                    <li>
                                        <a href="#">PartyTrays</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 mx-3">
                        <div class="mylistelements">
                            <h4>FRUIT &amp; VEGETABLES</h4>
                            <div class="">
                                <ul>
                                    <li>
                                        <a href="#">FreshVegetables</a>
                                    </li>
                                    <li>
                                        <a href="#">Herbs&amp; Seasonings</a>
                                    </li>
                                    <li>
                                        <a href="#">FreshFruits</a>
                                    </li>
                                    <li>
                                        <a href="#">Cuts&amp; Sprouts</a>
                                    </li>
                                    <li>
                                        <a href="#">ExoticFruits & Veggies</a>
                                    </li>
                                    <li>
                                        <a href="#">PackagedProduce</a>
                                    </li>
                                    <li>
                                        <a href="#">PartyTrays</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 mx-3">
                        <div class="mylistelements">
                            <h4>FRUIT &amp; VEGETABLES</h4>
                            <div class="">
                                <ul>
                                    <li>
                                        <a href="#">FreshVegetables</a>
                                    </li>
                                    <li>
                                        <a href="#">Herbs&amp; Seasonings</a>
                                    </li>
                                    <li>
                                        <a href="#">FreshFruits</a>
                                    </li>
                                    <li>
                                        <a href="#">Cuts&amp; Sprouts</a>
                                    </li>
                                    <li>
                                        <a href="#">ExoticFruits & Veggies</a>
                                    </li>
                                    <li>
                                        <a href="#">PackagedProduce</a>
                                    </li>
                                    <li>
                                        <a href="#">PartyTrays</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 mx-3">
                        <div class="mylistelements">
                            <h4>FRUIT &amp; VEGETABLES</h4>
                            <div class="">
                                <ul>
                                    <li>
                                        <a href="#">FreshVegetables</a>
                                    </li>
                                    <li>
                                        <a href="#">Herbs&amp; Seasonings</a>
                                    </li>
                                    <li>
                                        <a href="#">FreshFruits</a>
                                    </li>
                                    <li>
                                        <a href="#">Cuts&amp; Sprouts</a>
                                    </li>
                                    <li>
                                        <a href="#">ExoticFruits & Veggies</a>
                                    </li>
                                    <li>
                                        <a href="#">PackagedProduce</a>
                                    </li>
                                    <li>
                                        <a href="#">PartyTrays</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2 mx-3">
                        <div class="mylistelements">
                            <h4>FRUIT &amp; VEGETABLES</h4>
                            <div class="">
                                <ul>
                                    <li>
                                        <a href="#">FreshVegetables</a>
                                    </li>
                                    <li>
                                        <a href="#">Herbs&amp; Seasonings</a>
                                    </li>
                                    <li>
                                        <a href="#">FreshFruits</a>
                                    </li>
                                    <li>
                                        <a href="#">Cuts&amp; Sprouts</a>
                                    </li>
                                    <li>
                                        <a href="#">ExoticFruits & Veggies</a>
                                    </li>
                                    <li>
                                        <a href="#">PackagedProduce</a>
                                    </li>
                                    <li>
                                        <a href="#">PartyTrays</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact mb-5">
            <div class="container contactdetails">
                <div class="row">
                    <div class="leftsection col-6">
                        <div class="number">
                            <h2>8 800 555-55</h2>
                            <span>Working 8:00 - 22:00</span>
                        </div>
                    </div>
                    <div class="rightsection col-6">
                        <div class="socialmedias">
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter"></i>
                            <i class="fab fa-facebook"></i>
                        </div>
                        <div class="mobileapps">
                            <img src="~/assets/img/google-play.png" class="mx-2" alt="">
                            <img src="~/assets/img/app-store.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/41137ce79b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/flipclock.min.js"></script>
    <script src="~/assets/js/homeScript.js"></script>
    <script src="~/assets/js/cardScript.js"></script>
    <script src="~/assets/js/productdetail.js"></script>
    <script src="~/assets/js/shop.js"></script>
</body>

</html>