
@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="content">
        <div class="container productdetail">
            <h3>All Natural Italian-Style Chicken Meatballs</h3>
            <div class="rateing mb-5">
                <div class="brand">
                    <span>Brands: </span>
                    <span>Welch's</span>
                </div>
                <div class="stars">
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star active"></i>
                    <i class="fas fa-star"></i>
                    <span>1 REVIEW</span>
                </div>
                <div class="code">
                    <span>SKU:</span>
                    <span>ZU49VOR</span>
                </div>

            </div>
            <div class="row">
                <div class="col-4 mycorusel">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators pt-5">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                <img src="~/assets/img/product-image-62-768x691.jpg" style="width: 60px;" alt="">
                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1">
                                <img src="~/assets/img/product-image2-47-768x691.jpg" style="width: 60px;" alt="">
                            </li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2">
                                <img src="~/assets/img/product-image3-35-768x691.jpg" style="width: 60px;" alt="">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="~/assets/img/product-image-62-768x691.jpg"
                                     alt="First slide">
                                <span>23%</span>
                                <span>RECOMMEND</span>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/assets/img/product-image2-47-768x691.jpg"
                                     alt="Second slide">
                                <span>23%</span>
                                <span>RECOMMEND</span>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="~/assets/img/product-image3-35-768x691.jpg"
                                     alt="Third slide">
                                <span>23%</span>
                                <span>RECOMMEND</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-8 priceanddetails">
                    <div class="row ">
                        <div class="col-6 mx-5">
                            <div class="price">
                                <span>$9.35</span>
                                <span>$7.25</span>
                            </div>
                            <div class="stock">
                                <span>IN STOCK</span>
                            </div>
                            <div class="aboutproduct mt-3">
                                <p>
                                    Vivamus adipiscing nisl ut dolor dignissim semper. Nulla luctus malesuada
                                    tincidunt.
                                    Class aptent taciti sociosqu ad litora torquent
                                </p>
                            </div>
                            <div class="numofproduct">
                                <span>-</span>
                                <span>1</span>
                                <span>+</span>
                                <input type="button" value="ADD TO CARD">
                            </div>
                            <div class="wishlist">
                                <span> <i class="fas fa-heart"></i>ADD TO WISHLIST</span>
                                <span> <i class="fas fa-exchange-alt"></i></i>COMPARE</span>
                            </div>
                            <div class="aboutproduct mt-5">
                                <ul>
                                    <li> <i class="fas fa-check"></i>Type: Organic</li>
                                    <li><i class="fas fa-check"></i>MFG: Jun 4.2021</li>
                                    <li><i class="fas fa-check"></i>LIFE: 30 days</li>
                                </ul>
                            </div>
                            <hr class="mt-5">
                            <p>Category: Meats & Seafood</p>
                            <p>Tags: chicken, natural, organic</p>
                            <div class="socialmedias">
                                <ul>
                                    <li><i class="fab fa-facebook"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-pinterest"></i></li>
                                    <li><i class="fab fa-linkedin"></i></li>
                                    <li><i class="fab fa-reddit"></i></li>
                                    <li><i class="fab fa-whatsapp"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-4 delivery">
                            <p>Covid-19 Info: We keep delivering.</p>
                            <ul>
                                <li><i class="fas fa-truck"></i>Free Shipping apply to all orders over $100</li>
                                <li><i class="fas fa-leaf"></i>Guranteed 100% Organic from natural farmas</li>
                                <li><i class="fas fa-money-bill"></i>1 Day Returns if you change your mind</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog container mt-5">
            <div class="navmenu">
                <ul>
                    <li class="active" data-id="1">DESCRIPTION</li>
                    <li data-id="2">ADDITIONAL INFORMATION</li>
                    <li data-id="3">REVIEWS (1)</li>
                </ul>
                <hr>
                <div data-id="1" class="d-none activecontent">
                    <p>
                        Quisque varius diam vel metus mattis, id aliquam diam rhoncus. Proin vitae magna in dui
                        finibus malesuada et at nulla. Morbi elit ex, viverra vitae ante vel, blandit feugiat
                        ligula. Fusce fermentum iaculis nibh, at sodales leo maximus a. Nullam ultricies sodales
                        nunc, in pellentesque lorem mattis quis. Cras imperdiet est in nunc tristique lacinia.
                        Nullam aliquam mauris eu accumsan tincidunt. Suspendisse velit ex, aliquet vel ornare vel,
                        dignissim a tortor.

                        Morbi ut sapien vitae odio accumsan gravida. Morbi vitae erat auctor, eleifend nunc a,
                        lobortis neque. Praesent aliquam dignissim viverra. Maecenas lacus odio, feugiat eu nunc sit
                        amet, maximus sagittis dolor. Vivamus nisi sapien, elementum sit amet eros sit amet,
                        ultricies cursus ipsum. Sed consequat luctus ligula. Curabitur laoreet rhoncus blandit.
                        Aenean vel diam ut arcu pharetra dignissim ut sed leo. Vivamus faucibus, ipsum in vestibulum
                        vulputate, lorem orci convallis quam, sit amet consequat nulla felis pharetra lacus. Duis
                        semper erat mauris, sed egestas purus commodo vel.
                    </p>
                </div>
                <div data-id="2" class="d-none ">
                    <div class="row">
                        <div class="col-6" style="border-right: 1px solid black;">
                            Brands
                        </div>
                        <div class="col-6">
                            Welch's
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header container mb-3" style="width: 1200px; padding-top:40px ;padding-left: 0;;">
            RELATED
            PRODUCTS
        </div>
        <div class="relatedproducts container">

            <div class="row">
                <div class="col-3">
                    <div class="card mycard" ">
                        <img class=" card-img-top" src="~/assets/img/product-image-346x310.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warrior Blend Organic</h5>
                            <span class="stock">IN STOCK</span>
                            <div class="rateing">
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="price mt-3">
                                <span class="oldprice">$39.00</span>
                                <span class="newprice mx-2">$29.00</span>
                            </div>
                            <a href="#" class="btn btn-primary mt-5">Add to card</a>
                        </div>
                        <div class="percent">26%</div>
                        <div class="zoom"><i class="fab fa-joomla"></i></div>
                        <div class="heart"><i class="far fa-heart"></i></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mycard" ">
                        <img class=" card-img-top" src="~/assets/img/product-image-5-346x310.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warrior Blend Organic</h5>
                            <span class="stock">IN STOCK</span>
                            <div class="rateing">
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="price mt-3">
                                <span class="oldprice">$39.00</span>
                                <span class="newprice mx-2">$29.00</span>
                            </div>
                            <a href="#" class="btn btn-primary mt-5">Add to card</a>
                        </div>
                        <div class="percent">26%</div>
                        <div class="zoom"><i class="fab fa-joomla"></i></div>
                        <div class="heart"><i class="far fa-heart"></i></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mycard" ">
                        <img class=" card-img-top" src="~/assets/img/product-image-3-346x310.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warrior Blend Organic</h5>
                            <span class="stock">IN STOCK</span>
                            <div class="rateing">
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                            </div>
                            <div class="price mt-3">
                                <span class="oldprice">$33.00</span>
                                <span class="newprice mx-2">$25.00</span>
                            </div>
                            <a href="#" class="btn btn-primary mt-5">Add to card</a>
                        </div>
                        <div class="percent">26%</div>
                        <div class="zoom"><i class="fab fa-joomla"></i></div>
                        <div class="heart"><i class="far fa-heart"></i></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mycard" ">
                        <img class=" card-img-top" src="~/assets/img/product-image-5-346x310.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warrior Blend Organic</h5>
                            <span class="stock">IN STOCK</span>
                            <div class="rateing">
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="price mt-3">
                                <span class="oldprice">$39.00</span>
                                <span class="newprice mx-2">$29.00</span>
                            </div>
                            <a href="#" class="btn btn-primary mt-5">Add to card</a>
                        </div>
                        <div class="percent">26%</div>
                        <div class="zoom"><i class="fab fa-joomla"></i></div>
                        <div class="heart"><i class="far fa-heart"></i></div>
                    </div>
                </div>



            </div>
        </div>
        <div class="header container mb-3" style="width: 1200px; padding-top:40px ;padding-left: 0;;">
            RECENTLY
            VIEWED PRODUCTS
        </div>
        <div class="relatedproducts container ">

            <div class="row">
                <div class="col-3">
                    <div class="card mycard" ">
                        <img class=" card-img-top" src="~/assets/img/product-image-62-346x310.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warrior Blend Organic</h5>
                            <span class="stock">IN STOCK</span>
                            <div class="rateing">
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="price mt-3">
                                <span class="oldprice">$39.00</span>
                                <span class="newprice mx-2">$29.00</span>
                            </div>
                            <a href="#" class="btn btn-primary mt-5">Add to card</a>
                        </div>
                        <div class="percent">26%</div>
                        <div class="zoom"><i class="fab fa-joomla"></i></div>
                        <div class="heart"><i class="far fa-heart"></i></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mycard" ">
                        <img class=" card-img-top" src="~/assets/img/product-image-5-346x310.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warrior Blend Organic</h5>
                            <span class="stock">IN STOCK</span>
                            <div class="rateing">
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star "></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <div class="price mt-3">
                                <span class="oldprice">$39.00</span>
                                <span class="newprice mx-2">$29.00</span>
                            </div>
                            <a href="#" class="btn btn-primary mt-5">Add to card</a>
                        </div>
                        <div class="percent">26%</div>
                        <div class="zoom"><i class="fab fa-joomla"></i></div>
                        <div class="heart"><i class="far fa-heart"></i></div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card mycard" ">
                        <img class=" card-img-top" src="~/assets/img/product-image-4-346x310 (1).jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Warrior Blend Organic</h5>
                            <span class="stock">IN STOCK</span>
                            <div class="rateing">
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                                <i class="fas fa-star activerateing"></i>
                            </div>
                            <div class="price mt-3">
                                <span class="oldprice">$33.00</span>
                                <span class="newprice mx-2">$25.00</span>
                            </div>
                            <a href="#" class="btn btn-primary mt-5">Add to card</a>
                        </div>
                        <div class="percent">26%</div>
                        <div class="zoom"><i class="fab fa-joomla"></i></div>
                        <div class="heart"><i class="far fa-heart"></i></div>
                    </div>
                </div>




            </div>
        </div>
    </div>

</main>

